<!--
<h1>Home of Sophie</h1>

<p>Code it up</p>

<p>
    <span ng-bind="model.someVar" />
    <ul>
        <li ng-repeat="item in model.someList">{{item}}</li>
    </ul>
    <button class="btn btn-primary" ng-click="model.someFunctionUsedByTheHomePage()">Click Me</button>
</p>-->

<form ng-submit="model.sophie.reply()" class="row">
	<div class="col-sm-6 col-xs-12">
		<h1>{{model.sophie.says}}</h1>
	</div>
	<div class="col-sm-6 col-xs-12">
		<input class="user-input" placeholder="{{model.user.prompt}}" type="text" ng-model="model.user.says" value=""></input>
	</div>
</form>
